body {
  margin: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
  font-family: roboto, sans-serif;
}
body > * {
  padding: 16px;
}

p, h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.profile-icon {
  width: 40px;
  height: 40px;
  background: #E0F2FE;
  padding: 8px;
  border-radius: 50%;
}

.profile-icon.large {
  width: 56px;
  height: 56px;
}

header {
  grid-column: 2/3;
  display: grid;
  gap: 16px;
  background: #F0F9FF;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 16px 32px;
  box-shadow: 0 5px 5px #ccc;
  z-index: 1;
}
header > div {
  justify-content: space-between;
}
header div {
  display: flex;
  align-items: center;
}
header .search {
  flex: 1 1 auto;
  margin-right: 32px;
}
header .search input {
  background: #E0F2FE;
  width: min(100%, 600px);
  border: none;
  border-radius: 15px;
  margin-left: 16px;
  padding: 0 8px;
  font-size: inherit;
}
header .info img {
  margin: 0 24px;
}
header .greeting {
  margin-right: 24px;
}
header .greeting img {
  margin-right: 24px;
}
header .greeting div, header .greeting span {
  display: block;
}
header .greeting div span:first-of-type, header .greeting span span:first-of-type {
  font-size: 60%;
}
header .actions :nth-child(2) {
  margin: 0 32px;
}
header .actions button {
  background: #0284C7;
  width: 100px;
  height: 2.75em;
  border: none;
  border-radius: 3em;
  color: #fff;
  font-weight: inherit;
}

.sidebar {
  grid-row: 1/3;
  background: #0284C7;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}
.sidebar p, .sidebar li {
  display: flex;
  align-items: center;
}
.sidebar p .mdi, .sidebar li .mdi {
  font-size: 130%;
}
.sidebar p {
  font-size: 2rem;
}
.sidebar p .text {
  margin-left: 13px;
}
.sidebar li {
  margin-bottom: 8px;
}
.sidebar li .text {
  margin-left: 24px;
}
.sidebar li:nth-last-child(3) {
  margin-top: 48px;
}

main {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 16px;
  background: #E0F2FE;
}
main .projects .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}
main .projects .card-container .card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #F0F9FF;
  border-left: 10px solid orange;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ccc;
}
main .projects .card-container .card p {
  color: #555;
}
main .projects .card-container .card .actions {
  font-size: 1.2rem;
  margin-top: auto;
  padding-top: 16px;
  align-self: flex-end;
}
main .projects .card-container .card .actions > * {
  margin: 0 8px;
}
main .info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main .info .announcements, main .info .trendings {
  padding: 16px;
  background: #F0F9FF;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ccc;
}
main .info .announcement:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}
main .info .announcement:not(:last-child) p {
  color: #555;
}
main .info .trending:not(:last-child) {
  margin-bottom: 16px;
}
main .info .trending {
  display: flex;
  align-items: center;
}
main .info .trending div {
  margin-left: 16px;
}
main .info .trending div span {
  display: block;
}
main .info .trending span:last-of-type {
  color: #555;
}

@media (max-width: 950px) {
  body {
    grid-template-columns: 1fr;
  }
  header {
    grid-column: 1/-1;
    font-size: 0.75rem;
    padding: 8px;
  }
  header .actions {
    flex-direction: column;
  }
  header .actions :nth-child(2) {
    margin: 8px;
  }
  header .actions button {
    font-size: inherit;
  }
  .sidebar {
    grid-row: 2/3;
  }
  main {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
